body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

html{
    scroll-behavior: smooth;
}

h1{
    color: rgb(15, 4, 4);
    text-align: center;
}

h2{
    color: rgb(3, 41, 3);
}

p{
    font-size: 18px;
}

/* Navigation */

nav{
    background-color:#1f4e79;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-size:18px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

/* Header */

header{
    background:#1f4e79;
    color:white;
    padding:30px;
    text-align:center;
}

/* Profile Photo */

.profile-pic{
    width:220px;
    height:220px;
    border-radius:50%;
    display:block;
    margin:20px auto;
    border:4px solid darkblue;
    object-fit:cover;
    object-position:center;
}

/* Sections */

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
}

section:hover{
    transform:scale(1.02);
    transition:0.3s;
}

/* Paragraph */

p{
    font-size:18px;
}

/* Progress Bar */

progress{
    width:100%;
    height:20px;
}

/* Button */

button{
    background:darkblue;
    color:white;
    padding:12px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
    display:block;
    margin:20px auto;
}

button:hover{
    background:#2563eb;
}

/* Footer */

footer{
    background:#1f4e79;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}

/* Responsive Design */

@media screen and (max-width:768px){

body{
    margin:10px;
}

nav{
    display:flex;
    flex-direction:column;
    align-items:center;
}

nav a{
    margin:10px 0;
    font-size:16px;
}

header{
    padding:20px;
}

header h1{
    font-size:28px;
}

header p{
    font-size:16px;
}

.profile-pic{
    width:150px;
    height:150px;
}

section{
    margin:10px;
    padding:15px;
}

button{
    width:100%;
}

progress{
    width:100%;
}
}